.m-wallet {
  &__content {
    padding: 20px;
  }
  &__title {
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(black, 0.1);
    margin-bottom: 10px;
  }
  &__box {
    border-bottom: 1px solid rgba(black, 0.1);
    border-top: 1px solid rgba(black, 0.1);
    padding: 20px 0;
    margin: 20px 0;
  }
  &__item {
    width: fit-content;
    & + & {
      margin-top: 20px;
    }
    img {
      margin-right: 5px;
    }
  }
  &__btn {
    margin: 20px auto 0;
    span {
      margin-left: 10px;
    }
  }
  &-profile {
    margin: 0 auto;
    // border-bottom: 1px solid rgba(black, 0.1);
    &__btn {
      margin-bottom: 20px;
      color: rgba(255, 255, 255, 1);
      font-size: 18px;
      font-weight: 600;
      &:hover,
      &:active,
      &:focus {
        color: #3c079d;
      }
    }
  }
}
