.win-number {
  background-image: url(../../../assets/img/icons/win-number-bg.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 83.5px;
  height: 83.5px;
  font-size: 40.4329px;
  line-height: 48px;
  span {
    margin-top: -14px;
  }
}
