@import '../../styles/mixins/media.scss';

.trade {
  background-image: url(../../assets/img/bg-t-r.svg), url(../../assets/img/bg-b-r.svg),
    url(../../assets/img/bg-b-l.svg), url(../../assets/img/bg-c.svg);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: auto auto, 550px auto, auto auto, auto auto;
  background-position: 100% 0, calc(100% + 120px) calc(100% + 270px), 0 100%, center;

  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  padding: 90px 0 0;
  min-height: 100vh;

  &__content {
    padding: 10px;
    max-width: 440px;
    width: 100%;
  }

  @include b(extramobile) {
    background-image: none;
  }
}
