@import '../../styles/vars';
@import '../../styles/mixins/media.scss';

$desktop-menu-width: 240px;
$default-horizontal-padding: 48px;
$default-vertical-padding: 22px;

.create-profile {
  padding: {
    top: $default-vertical-padding;
    right: $default-horizontal-padding;
    bottom: $default-vertical-padding;
    left: $default-horizontal-padding + $desktop-menu-width;
  }

  background-image: url(~src/assets/img/bg-c.svg);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: top;

  @include b(tablet) {
    padding-left: 0;
    padding-right: 0;
  }
}
