@import 'src/styles/vars';
.lottery-preview {
  &__content {
    background-color: $purple-d;
    border-radius: 40px;
    overflow: hidden;
    padding: 30px 47px 95px;
    background-image: url(../../../../assets/img/sections/lottery/preview.svg);
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: auto 100%;
  }
  &__link {
    margin-left: 25px;
    svg {
      margin-left: 7px;
      path {
        fill: $green;
      }
    }
  }
  &__title {
    max-width: 500px;
    margin-bottom: 18px;
  }
}
