@import '../../../../styles/vars';
.stepsForm {
  &__steps {
    &__one {
      margin: 20px auto 0;
      &-btn {
        width: 234px;
        font-size: 18px;
        font-weight: 700;
        img {
          margin: 0 5px 0 0 !important;
        }
      }
      img {
        margin: 0 20px;
      }
    }
    &__two {
      width: 100%;
      &-title {
        margin: 20px 0;
        font-size: 24px;
        font-weight: 700;
        color: $purple;
      }
      span {
        font-size: 14px;
        font-weight: 400;
        color: $black;
      }
      &-btn {
        margin-top: 20px;
        width: 234px;
        font-size: 18px;
        font-weight: 700;
      }
    }
    &__three {
      &-radio {
        color: $purple;
        font-weight: 700;
        span {
          color: $black !important;
          font-weight: 400;
        }
      }
    }
    &__four {
      &-input {
        padding: 16px 15px;
        min-height: 50px;
        max-width: 350px;
        display: flex;
        flex-direction: row-reverse;
        font-size: 16px;
        background: rgba(249, 249, 249, 1);
        border: 1px solid rgba(230, 230, 230, 1);
        border-radius: 30px;
        box-shadow: none !important;
        transition: all 0.2s ease-in-out;
        &:hover,
        &:focus,
        &:active {
          background: rgb(235, 231, 231);
          border: 1px solid rgba(230, 230, 230, 1);
          border-radius: 30px;
          box-shadow: none !important;
        }
        input {
          background: transparent;
          font-size: 16px;
          font-weight: 500;
          color: $purple;
        }
      }
      &-switch {
        margin: 20px 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        span {
          margin-left: 11px;
        }
      }
      &-btn {
        font-size: 18px;
        font-weight: 700;
      }
    }
  }
  &__btn {
    margin: 20px auto 0;
    font-size: 18px;
    font-weight: 700;
    color: $white;
    transition: all 0.2s ease-in-out;
    &-arrow {
      margin-left: 5px;
      path {
        stroke: $white;
      }
    }
    &:hover,
    &:active,
    &:focus {
      path {
        stroke: $purple;
      }
      color: $purple;
    }
  }
  &__error {
    margin-bottom: 5px;
    height: 20px;
    color: $red;
    font-size: 16px;
    font-weight: 400;
  }
}
